body {
    background-image: url("img/background.png");
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto sans-serif;
}
.wrapper {
    width: 1023px;
    margin: 0 auto;

}
.mail-position  {
    position: relative;
    top: 20px;
}

.phone-position  {
    position: relative;
    top: 30px;
}

a {
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.header-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 51px;
}
.logo {
    position: absolute;

}
.milan {
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    margin-left: 63px;
    margin-bottom: 3px;
    font-family: 'Roboto';
}

.span1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-left: 63px;
}

.logo-all:hover img {
 content: url("img/logo2.png");
}

.logo-all:hover h1 {
    color: #F26522;
}
.logo-all:hover span {
    color: #F26522;
}

.contacts {
    position: relative;
    color: white;
    text-align: right;
    bottom: 73px;
    width: 300px;
    left: 720px;
    font-family: 'Roboto';

}
.contacts a:hover {
    color: #F26522;
    transition: 0.5s;
}

.tours {
    display: grid;
    grid-template-columns:repeat(3,300px) ;
    grid-template-rows: repeat(2 ,219px );
    grid-column-gap: 61px;
    grid-row-gap: 78px;
    padding-top: 22px;
    padding-bottom: 49px;

}

.tours-items p{
    text-align: center;
}

.tours-items:hover figcaption{
    color: #F26522;
    transition: 0.5s;
}


.small-font {
    position: absolute;
    left: 21px;
    top: 11px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 10px;
}

.big-font {
    position: absolute;
    left: 21px;
    top: 25px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
}

.view_details {
    position: absolute;
    left: 185px;
    top: 33px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Roboto';
}

.photos-price1 {
    opacity: 0;
    width: 300px;
    height: 55px;
    background: #F26522;
    position: relative;
    color: white;
    top: -59px;
    left: 2px;
}

.tours-items:hover .photos-price1 {
    opacity: 1;
    transition: 0.5s;
}

.tours-items:hover p {
    color: #F26522;
    transition: 0.5s;
}

footer {
    margin-top: 50px;
    color: white;
    text-align: center;
    font-family: 'Roboto';
}

.shop   {
    position: relative;
    top: -45px;
    font-family: 'Roboto';
    text-align: center;
    color: white;
}
.photos-price2 {
    opacity: 0;
    width: 300px;
    height: 55px;
    background: #F26522;
    position: relative;
    color: white;
    top: -67px;
    left: 4px;
}

.tours-items:hover .photos-price2 {
    opacity: 1;
    transition: 0.5s;
}

.sight  {
    position: relative;
    top: -50px;
    font-family: 'Roboto';
    text-align: center;
    color: white;
}

.photos-price3 {
    opacity: 0;
    width: 301px;
    height: 55px;
    background: #F26522;
    position: relative;
    color: white;
    top: -59px;
    left: 2px;
}

.tours-items:hover .photos-price3 {
    opacity: 1;
    transition: 0.5s;
}
.food  {
    position: relative;
    top: -50px;
    font-family: 'Roboto';
    text-align: center;
    color: white;
}

.photos-price4 {
    opacity: 0;
    width: 303px;
    height: 55px;
    background: #F26522;
    position: relative;
    color: white;
    top: -59px;
    left: 1px;
}

.tours-items:hover .photos-price4 {
    opacity: 1;
    transition: 0.5s;
}
.bars  {
    position: relative;
    top: -35px;
    font-family: 'Roboto';
    text-align: center;
    color: white;
}

.photos-price5 {
    opacity: 0;
    width: 303px;
    height: 55px;
    background: #F26522;
    position: relative;
    color: white;
    top: -59px;
    left: 1px;
}

.tours-items:hover .photos-price5 {
    opacity: 1;
    transition: 0.5s;
}
.art {
    position: relative;
    top: -37px;
    font-family: 'Roboto';
    text-align: center;
    color: white;
}

.photos-price6 {
    opacity: 0;
    width: 303px;
    height: 55px;
    background: #F26522;
    position: relative;
    color: white;
    top: -59px;
    left: 1px;
}

.tours-items:hover .photos-price6 {
    opacity: 1;
    transition: 0.5s;
}
.walk {
    position: relative;
    top: -37px;
    font-family: 'Roboto';
    text-align: center;
    color: white;
}

.arrow {
    color: white;
    position: absolute;
    left: 270px;
    top: 33px;

}

.arrow::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 12px;
    transform: translateY(-50%) rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 1px solid white;
    border-right: 1px solid white;
}